<div class="aboutUsContainer">
  <div class="innerWrapper">
    <h2 class="containerHeading">About<span>We believe in being awesome.</span></h2>
    	<div class="row">
	    	<div class="child">
		    	<h3 class="centeredHeading">Benefits of Futpong<span>Imagine if soccer and tennis had a baby and took it tailgating.  Games like Futpong have been around for thousands of years, but this game is brand new.</span></h3>
	    	</div>
	    	
	    	<div class="child">
		    	<h3 class="centeredHeading">Small Size<span>The net is low, the ball and court are small.  This game is lightning fast and demands precision.  You'll think it's easy until you try it, and then you won't be able to stop trying to master it.</span></h3>
	    	</div>
    	
	    	<div class="child">
		    	<h3 class="centeredHeading">It's all in Play<span>This game is wicked fun.  In order to develop, you'll need one and two touch control.  In step, push pass, chest, thigh and head control.  With the ball only 200 grams, even the shyest player will feel comfortable controlling the ball and the boldest player will be challenged. </span></h3>

	    	</div>
	    	
	    	<div class="child">
		    	 <h3 class="centeredHeading">Reps<span>Over 500 touches in an hour of play.  Check out the Futpong Challenge to see what a month of play did for skill development for a dozen players. <p>The next world class player is out there - somewhere in an American neighborhood!</p></span></h3>
	    	</div>
    	</div>

    
    
   

    
   
    <div class="contentBlock">
    	<ul class="videos cf">
    		<li><a href="https://www.youtube.com/embed/khWidvt3An8" style="background: url('{{ 'play2.jpg' | asset_url }}') no-repeat; background-size: cover; background-position: center center;"><div class="icon"><svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M405.2,232.9L126.8,67.2c-3.4-2-6.9-3.2-10.9-3.2c-10.9,0-19.8,9-19.8,20H96v344h0.1c0,11,8.9,20,19.8,20  c4.1,0,7.5-1.4,11.2-3.4l278.1-165.5c6.6-5.5,10.8-13.8,10.8-23.1C416,246.7,411.8,238.5,405.2,232.9z"/></svg></div><div class="cover"></div></a></li>
    		<li><a href="https://www.youtube.com/embed/khWidvt3An8" style="background: url('{{ 'play4.jpg' | asset_url }}') no-repeat; background-size: cover; background-position: center center;"><div class="icon"><svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M405.2,232.9L126.8,67.2c-3.4-2-6.9-3.2-10.9-3.2c-10.9,0-19.8,9-19.8,20H96v344h0.1c0,11,8.9,20,19.8,20  c4.1,0,7.5-1.4,11.2-3.4l278.1-165.5c6.6-5.5,10.8-13.8,10.8-23.1C416,246.7,411.8,238.5,405.2,232.9z"/></svg></div><div class="cover"></div></a></li>
    		<li><a href="https://www.youtube.com/embed/khWidvt3An8" style="background: url('{{ 'play5.jpg' | asset_url }}') no-repeat; background-size: cover; background-position: center center;"><div class="icon"><svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M405.2,232.9L126.8,67.2c-3.4-2-6.9-3.2-10.9-3.2c-10.9,0-19.8,9-19.8,20H96v344h0.1c0,11,8.9,20,19.8,20  c4.1,0,7.5-1.4,11.2-3.4l278.1-165.5c6.6-5.5,10.8-13.8,10.8-23.1C416,246.7,411.8,238.5,405.2,232.9z"/></svg></div><div class="cover"></div></a></li>
    		<li><a href="https://www.youtube.com/embed/khWidvt3An8" style="background: url('{{ 'play1.jpg' | asset_url }}') no-repeat; background-size: cover; background-position: center center;"><div class="icon"><svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M405.2,232.9L126.8,67.2c-3.4-2-6.9-3.2-10.9-3.2c-10.9,0-19.8,9-19.8,20H96v344h0.1c0,11,8.9,20,19.8,20  c4.1,0,7.5-1.4,11.2-3.4l278.1-165.5c6.6-5.5,10.8-13.8,10.8-23.1C416,246.7,411.8,238.5,405.2,232.9z"/></svg></div><div class="cover"></div></a></li>
    		<li><a href="https://www.youtube.com/embed/khWidvt3An8" style="background: url('{{ 'play2.jpg' | asset_url }}') no-repeat; background-size: cover; background-position: center center;"><div class="icon"><svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M405.2,232.9L126.8,67.2c-3.4-2-6.9-3.2-10.9-3.2c-10.9,0-19.8,9-19.8,20H96v344h0.1c0,11,8.9,20,19.8,20  c4.1,0,7.5-1.4,11.2-3.4l278.1-165.5c6.6-5.5,10.8-13.8,10.8-23.1C416,246.7,411.8,238.5,405.2,232.9z"/></svg></div><div class="cover"></div></a></li>
    		<li><a href="https://www.youtube.com/embed/khWidvt3An8" style="background: url('{{ 'play4.jpg' | asset_url }}') no-repeat; background-size: cover; background-position: center center;"><div class="icon"><svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M405.2,232.9L126.8,67.2c-3.4-2-6.9-3.2-10.9-3.2c-10.9,0-19.8,9-19.8,20H96v344h0.1c0,11,8.9,20,19.8,20  c4.1,0,7.5-1.4,11.2-3.4l278.1-165.5c6.6-5.5,10.8-13.8,10.8-23.1C416,246.7,411.8,238.5,405.2,232.9z"/></svg></div><div class="cover"></div></a></li>
    	</ul>
    </div>

    <h3 class="centeredHeading">Our Story<span>We are an inclusive, spirited, and community-oriented crew, and we are crazy about soccer--the big game and the small. Our company was founded with a lofty goal: to use the power of play to bring foot skills to as many people as possible, regardless of age, situation, or ability.  
<p>Futpong is our first product - but we'll have many, many more...Stay tuned!</p></span></h3>
    <div class="contentBlock">
    <ul class="people cf">
    		<li><div class="image personA"></div><div class="text"><span>Curt Bjurlin</span>The Visionary</div></li>
    		<li><div class="image personB"></div><div class="text"><span>Rick Davis</span>The Soccer Star</div></li>
    		<li><div class="image personA"></div><div class="text"><span>Dave Wager</span>The Visionary</div></li>
    		<li><div class="image personB"></div><div class="text"><span>Teddy Bjurlin</span>The Inventor</div></li>
    		
    	</ul>
    </div>
  </div>
</div>
