<div class="anchor" id="benefits"></div>
<div class="aboutUsContainer">
	 <div class="headingWrapper">
	<h2 class="containerHeading">Sharpen your Technique<span>Futpong uses all the essential movements of soccer.</span></h2>
	 </div>
    
    	<div class="row sharpen no-gutter">
	    	<div class="child">
		    	<a href="#" class="volleyCard">
			    	<div class="sharpenTitle">Volley</div>
			    	<div class="expandIcon"><svg enable-background="new 0 0 512 512" height="512px" id="Layer_1" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M256.108,3.02c-139.743,0-253,113.257-253,253s113.257,252.995,253,252.995   c139.743,0,253-113.252,253-252.995S395.852,3.02,256.108,3.02z M256.108,488.775c-128.338,0-232.76-104.417-232.76-232.755   c0-128.339,104.422-232.76,232.76-232.76c128.338,0,232.76,104.421,232.76,232.76C488.868,384.358,384.446,488.775,256.108,488.775   z" fill="#37404D"/><polygon fill="#37404D" points="266.228,104.22 245.988,104.22 245.988,245.9 104.98,245.9 104.98,266.14 245.988,266.14    245.988,407.148 266.228,407.148 266.228,266.14 407.908,266.14 407.908,245.9 266.228,245.9  "/></g></svg></div>
			    	<div class="cardShade"></div>
				</a>
	    	</div>
	    	
	    	<div class="child">
		    	<a href="#" class="passCard">
			    	<div class="sharpenTitle">Pass</div>
			    	<div class="expandIcon"><svg enable-background="new 0 0 512 512" height="512px" id="Layer_1" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M256.108,3.02c-139.743,0-253,113.257-253,253s113.257,252.995,253,252.995   c139.743,0,253-113.252,253-252.995S395.852,3.02,256.108,3.02z M256.108,488.775c-128.338,0-232.76-104.417-232.76-232.755   c0-128.339,104.422-232.76,232.76-232.76c128.338,0,232.76,104.421,232.76,232.76C488.868,384.358,384.446,488.775,256.108,488.775   z" fill="#37404D"/><polygon fill="#37404D" points="266.228,104.22 245.988,104.22 245.988,245.9 104.98,245.9 104.98,266.14 245.988,266.14    245.988,407.148 266.228,407.148 266.228,266.14 407.908,266.14 407.908,245.9 266.228,245.9  "/></g></svg></div>
			    	<div class="cardShade"></div>
				</a>
	    	</div>
	    	
	    	<div class="child">
		    	<a href="#" class="controlCard">
			    	<div class="sharpenTitle">Control</div>
			    	<div class="expandIcon"><svg enable-background="new 0 0 512 512" height="512px" id="Layer_1" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M256.108,3.02c-139.743,0-253,113.257-253,253s113.257,252.995,253,252.995   c139.743,0,253-113.252,253-252.995S395.852,3.02,256.108,3.02z M256.108,488.775c-128.338,0-232.76-104.417-232.76-232.755   c0-128.339,104.422-232.76,232.76-232.76c128.338,0,232.76,104.421,232.76,232.76C488.868,384.358,384.446,488.775,256.108,488.775   z" fill="#37404D"/><polygon fill="#37404D" points="266.228,104.22 245.988,104.22 245.988,245.9 104.98,245.9 104.98,266.14 245.988,266.14    245.988,407.148 266.228,407.148 266.228,266.14 407.908,266.14 407.908,245.9 266.228,245.9  "/></g></svg></div>
			    	<div class="cardShade"></div>
				</a>
	    	</div>
	    	
	    	<div class="child">
		    	<a href="#" class="headCard">
			    	<div class="sharpenTitle">Head</div>
			    	<div class="expandIcon"><svg enable-background="new 0 0 512 512" height="512px" id="Layer_1" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M256.108,3.02c-139.743,0-253,113.257-253,253s113.257,252.995,253,252.995   c139.743,0,253-113.252,253-252.995S395.852,3.02,256.108,3.02z M256.108,488.775c-128.338,0-232.76-104.417-232.76-232.755   c0-128.339,104.422-232.76,232.76-232.76c128.338,0,232.76,104.421,232.76,232.76C488.868,384.358,384.446,488.775,256.108,488.775   z" fill="#37404D"/><polygon fill="#37404D" points="266.228,104.22 245.988,104.22 245.988,245.9 104.98,245.9 104.98,266.14 245.988,266.14    245.988,407.148 266.228,407.148 266.228,266.14 407.908,266.14 407.908,245.9 266.228,245.9  "/></g></svg></div>
			    	<div class="cardShade"></div>
				</a>
	    	</div>
    	</div>
    	
    	<div class="fivehundredbanner">
	    	500 touches in 1 hour of play
    	</div>
    	
    	<div class="flex-container awesome">
	    	<div class="flexchild people">
		    	<h3>We believe in being <a href="#">awesome</a>.</h3>
		    	
		    	<ul class="people cf">
    		<li><div class="image personA"></div><div class="text"><span>Curt Bjurlin</span><div>The Visionary</div></div></li>
    		<li><div class="image personB"></div><div class="text"><span>Rick Davis</span><div>The Soccer Star</div></div></li>
    		<li><div class="image personC"></div><div class="text"><span>Dave Wager</span><div>The Visionary</div></div></li>
    		<li><div class="image personD"></div><div class="text"><span>Teddy Bjurlin</span><div>The Inventor</div></div></li>
    		
    	</ul>
	    	</div>
	    	
	    	<div class="flexchild">
		    	<div class="cardCover"></div>
		    	<div class="cardText">
			    	
			    	<div class="storyTitle">The Story of your First</div>
			    	<span>Game</span>
		    	</div>
	    	</div>
    	</div>
    	
  <div class="innerWrapper">
    
    
    	

    
    
   

    
   
   <!-- <div class="contentBlock">
    	<ul class="videos cf">
    		<li><a href="https://www.youtube.com/embed/khWidvt3An8" style="background: url('{{ 'play2.jpg' | asset_url }}') no-repeat; background-size: cover; background-position: center center;"><div class="icon"><svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M405.2,232.9L126.8,67.2c-3.4-2-6.9-3.2-10.9-3.2c-10.9,0-19.8,9-19.8,20H96v344h0.1c0,11,8.9,20,19.8,20  c4.1,0,7.5-1.4,11.2-3.4l278.1-165.5c6.6-5.5,10.8-13.8,10.8-23.1C416,246.7,411.8,238.5,405.2,232.9z"/></svg></div><div class="cover"></div></a></li>
    		<li><a href="https://www.youtube.com/embed/khWidvt3An8" style="background: url('{{ 'play4.jpg' | asset_url }}') no-repeat; background-size: cover; background-position: center center;"><div class="icon"><svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M405.2,232.9L126.8,67.2c-3.4-2-6.9-3.2-10.9-3.2c-10.9,0-19.8,9-19.8,20H96v344h0.1c0,11,8.9,20,19.8,20  c4.1,0,7.5-1.4,11.2-3.4l278.1-165.5c6.6-5.5,10.8-13.8,10.8-23.1C416,246.7,411.8,238.5,405.2,232.9z"/></svg></div><div class="cover"></div></a></li>
    		<li><a href="https://www.youtube.com/embed/khWidvt3An8" style="background: url('{{ 'play5.jpg' | asset_url }}') no-repeat; background-size: cover; background-position: center center;"><div class="icon"><svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M405.2,232.9L126.8,67.2c-3.4-2-6.9-3.2-10.9-3.2c-10.9,0-19.8,9-19.8,20H96v344h0.1c0,11,8.9,20,19.8,20  c4.1,0,7.5-1.4,11.2-3.4l278.1-165.5c6.6-5.5,10.8-13.8,10.8-23.1C416,246.7,411.8,238.5,405.2,232.9z"/></svg></div><div class="cover"></div></a></li>
    		<li><a href="https://www.youtube.com/embed/khWidvt3An8" style="background: url('{{ 'play1.jpg' | asset_url }}') no-repeat; background-size: cover; background-position: center center;"><div class="icon"><svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M405.2,232.9L126.8,67.2c-3.4-2-6.9-3.2-10.9-3.2c-10.9,0-19.8,9-19.8,20H96v344h0.1c0,11,8.9,20,19.8,20  c4.1,0,7.5-1.4,11.2-3.4l278.1-165.5c6.6-5.5,10.8-13.8,10.8-23.1C416,246.7,411.8,238.5,405.2,232.9z"/></svg></div><div class="cover"></div></a></li>
    		<li><a href="https://www.youtube.com/embed/khWidvt3An8" style="background: url('{{ 'play2.jpg' | asset_url }}') no-repeat; background-size: cover; background-position: center center;"><div class="icon"><svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M405.2,232.9L126.8,67.2c-3.4-2-6.9-3.2-10.9-3.2c-10.9,0-19.8,9-19.8,20H96v344h0.1c0,11,8.9,20,19.8,20  c4.1,0,7.5-1.4,11.2-3.4l278.1-165.5c6.6-5.5,10.8-13.8,10.8-23.1C416,246.7,411.8,238.5,405.2,232.9z"/></svg></div><div class="cover"></div></a></li>
    		<li><a href="https://www.youtube.com/embed/khWidvt3An8" style="background: url('{{ 'play4.jpg' | asset_url }}') no-repeat; background-size: cover; background-position: center center;"><div class="icon"><svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M405.2,232.9L126.8,67.2c-3.4-2-6.9-3.2-10.9-3.2c-10.9,0-19.8,9-19.8,20H96v344h0.1c0,11,8.9,20,19.8,20  c4.1,0,7.5-1.4,11.2-3.4l278.1-165.5c6.6-5.5,10.8-13.8,10.8-23.1C416,246.7,411.8,238.5,405.2,232.9z"/></svg></div><div class="cover"></div></a></li>
    	</ul>
    </div>-->

   <h2 class="containerHeading">Get Involved<span>Community and Competition.</span></h2>
    <div class="contentBlock clearfix nomargin">
    		<div class="programsLeftCol">
	    		<a href="#" class="involvedButton">Take the Futpong Challenge</a>
	    		<a href="#" class="videoButton">
		    		<div class="videoButtonOverlay"></div>
		    		<div class="playIcon"><svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M405.2,232.9L126.8,67.2c-3.4-2-6.9-3.2-10.9-3.2c-10.9,0-19.8,9-19.8,20H96v344h0.1c0,11,8.9,20,19.8,20  c4.1,0,7.5-1.4,11.2-3.4l278.1-165.5c6.6-5.5,10.8-13.8,10.8-23.1C416,246.7,411.8,238.5,405.2,232.9z"/></svg></div>
	    		</a>
    		</div>
    		
    		<div class="programsRightCol">
	    		<a href="#" class="involvedButton icon"><span><svg width="36px" height="45px" viewBox="0 0 36 45" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.4.2 (15855) - http://www.bohemiancoding.com/sketch -->
    <title>trophy_icon</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="Desktop-HD" sketch:type="MSArtboardGroup" transform="translate(-865.000000, -3359.000000)" fill="#929292">
            <g id="People-section-+-Rectangle-117-+-TAKE-THE--+-Rectangle-117-+-TAKE-THE--Copy" sketch:type="MSLayerGroup" transform="translate(-56.000000, 2831.000000)">
                <g id="Rectangle-117-+-TAKE-THE--Copy" transform="translate(893.000000, 508.000000)" sketch:type="MSShapeGroup">
                    <g id="Rectangle-117-+-HOST-A-TOURNAMENT-+-1451872099_icon-15-trophy">
                        <g id="trophy_icon" transform="translate(28.000000, 20.000000)">
                            <g id="Group">
                                <g id="Page-1">
                                    <g id="icon-15-trophy">
                                        <path d="M25.7142857,37.891182 L25.7142857,32.7242026 L18.8571429,32.7242026 L18.8571429,25.8348932 L18.8571429,25.8348928 C24.5386289,25.8299677 29.1428571,21.213092 29.1428571,15.5128821 L29.1428571,15.5009381 C35.1428571,12.9174484 36,0 36,0 L29.1428571,0 L28.2995781,0 L6.85714286,0 L0,0 C0,0 0.857142857,12.9174484 6.85714286,15.5009381 L6.85714286,15.5128821 C6.85714286,21.2105273 11.4698237,25.8299575 17.1428571,25.8348928 L17.1428571,32.7242026 L17.1428571,32.7242026 L10.2857143,32.7242026 L10.2857143,37.891182 L5.14285714,37.891182 L5.14285714,44.7804878 L30.8571429,44.7804878 L30.8571429,37.891182 L25.7142857,37.891182 L25.7142857,37.891182 L25.7142857,37.891182 Z M6.85714286,1.72232645 L6.85714286,13.6063685 C2.83572823,10.7139764 1.88572474,1.72232645 1.88572474,1.72232645 L6.85714286,1.72232645 L6.85714286,1.72232645 L6.85714286,1.72232645 Z M29.1127233,1.72232645 L29.1127233,13.5724666 C33.1341379,10.6800744 34.0848214,1.72232645 34.0848214,1.72232645 L29.1127233,1.72232645 L29.1127233,1.72232645 L29.1127233,1.72232645 Z" id="trophy"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg></span>Host a Tournament</a>
	    		<a href="#" class="involvedButton icon"><span><svg width="27px" height="34px" viewBox="0 0 27 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.4.2 (15855) - http://www.bohemiancoding.com/sketch -->
    <title>download_icon</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="Desktop-HD" sketch:type="MSArtboardGroup" transform="translate(-869.000000, -3460.000000)" fill="#000000">
            <g id="People-section-+-Rectangle-117-+-TAKE-THE--+-Rectangle-117-+-TAKE-THE--Copy" sketch:type="MSLayerGroup" transform="translate(-56.000000, 2831.000000)">
                <g id="Rectangle-117-+-TAKE-THE--Copy" transform="translate(893.000000, 508.000000)" sketch:type="MSShapeGroup">
                    <g id="Rectangle-117-+-DOWNLOAD-RULES-+-1451872286_file-download" transform="translate(0.000000, 97.000000)">
                        <g id="download_icon" transform="translate(32.000000, 24.000000)">
                            <g id="Group">
                                <g id="Page-1">
                                    <g id="Core">
                                        <g id="file-download" transform="translate(0.000000, 0.964286)">
                                            <path d="M27,11.5714286 L19.2857143,11.5714286 L19.2857143,0 L7.71428571,0 L7.71428571,11.5714286 L0,11.5714286 L13.5,25.0714286 L27,11.5714286 L27,11.5714286 L27,11.5714286 Z M0,28.9285714 L0,32.7857143 L27,32.7857143 L27,28.9285714 L0,28.9285714 L0,28.9285714 L0,28.9285714 Z" id="Shape"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg></span>Download Basic Rules</a>
	    		
    		</div>
    		
    		
    </div>
  </div>
</div>
