{% if settings.show_slideshow %}


<div class="bannerSlider {% if settings.mobile_hide_slideshow %}hide-for-mobile{% endif %}">

    <div class="gallery">

    	{% for i in (1..10) %}
					{% capture show %}show_slide{{i}}{% endcapture %}
					{% capture image %}home-slide{{i}}.jpg{% endcapture %}
					{% capture alignment %}home-slide{{i}}-alignment{% endcapture %}
					{% capture link %}home_slide{{i}}_link{% endcapture %}
					{% capture linktext %}home_slide{{i}}_linktext{% endcapture %}
					{% capture link2 %}home_slide{{i}}_link_2{% endcapture %}
					{% capture linktext2 %}home_slide{{i}}_linktext2{% endcapture %}
					{% capture title %}home_slide{{i}}_title{% endcapture %}
					{% capture description %}home_slide{{i}}_description{% endcapture %}
					{% if settings[show] %}
      <div class="gallery-cell cf" style="background: url('{{ image | asset_url }}') no-repeat; background-size: cover; background-position: bottom {{settings[alignment]}};">
      <div class="sliderOverlay"></div>
      	<div class="innerWrapper innerWrapper2">
	      	<div class="leftCol-cell">
	      		
	      	</div>
		  	
	      	<div class="rightCol-cell">
		      	<div class="titleCell">
		      		<h2>{{settings[title]}}</h2>
			  		<p>{{settings[description]}}</p>
		      	</div>
		      	
		      	<div class="buttonsCell">
		      		{% unless settings[linktext] == blank %}
		      			<a href="{{settings[link]}}" class="button">{{settings[linktext]}}</a>
		      		{% endunless %}
		      		
		      		{% unless settings[linktext2] == blank %}
			  		<div class="button-border"></div>
		      		<a href="{{settings[link2]}}" class="button button-type-b">{{settings[linktext2]}}</a>
		      		{% endunless %}
		      	</div>
	      	</div>
	      		
      	</div>

      </div>
      				{% endif %}
				{% endfor %}
	
	

    </div>
    <div class="innerWrapper socialWrapper">
    <div class="socialLinks">
	    <div class="anchor" id="grabaset"></div>
      <div class="facebookLike"><div class="fb-like" data-href="https://www.facebook.com/futpongchallenge/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div></div>
    {% include 'social-links' %}
  </div>
  
  </div>
  </div>
{% endif %}
