<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->

  <title>
  {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% include 'open-graph-tags' %}
  {% include 'twitter-card' %}

  {{ content_for_header }}

  {{ 'style.scss.css' | asset_url | stylesheet_tag }}
  {{ 'social/social-icons.css' | global_asset_url | stylesheet_tag }}
  {{ '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' | stylesheet_tag }}
  {{ '//cdnjs.cloudflare.com/ajax/libs/flickity/1.1.1/flickity.min.css' | stylesheet_tag }}

  {{ '//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700|Raleway:700,400,200' | stylesheet_tag }}

  <!--[if lt IE 9]>
  {{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
  <![endif]-->

  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% if template contains 'customers' %}
  {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  <!-- Additional Shopify helpers that will likely be added to the global shopify_common.js some day soon. -->
  {{ 'shopify_common.js'  | asset_url | script_tag }}

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}

  {{ '//cdnjs.cloudflare.com/ajax/libs/flickity/1.1.1/flickity.pkgd.min.js' | script_tag }}
  <script>jQuery('html').removeClass('no-js').addClass('js');</script>

</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1375602142710939";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


	<a href="#" class="promoBanner">
    <div class="innerWrapper">
      Test Promo Message
      
      <span>Offer Details</span>
    </div>
  </a>




{% case template %}
  {% when 'index' %}
      {% include 'slider' %}

{% endcase %}

 <div class="mainHeader innerWrapper">
   <div class="logo">
     {% if settings.use_logo %}
     <a id="logo" href="/">
	     <svg width="323px" height="67px" viewBox="0 0 323 67" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.4.2 (15855) - http://www.bohemiancoding.com/sketch -->
    <title>futpong-logo</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <radialGradient cx="19.0812211%" cy="40.9293373%" fx="19.0812211%" fy="40.9293373%" r="63.3908%" id="radialGradient-1">
            <stop stop-color="#FFFFFF" offset="0%"></stop>
            <stop stop-color="#ED1C24" offset="100%"></stop>
        </radialGradient>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="Desktop-HD" sketch:type="MSArtboardGroup" transform="translate(-205.000000, -67.000000)">
            <g id="futpong-logo" sketch:type="MSLayerGroup" transform="translate(214.000000, 75.000000)">
                <g id="futpong-net_logo_line" sketch:type="MSShapeGroup">
                    <g id="Layer_1">
                        <g id="Group" class="titleText" transform="translate(39.132075, 2.878788)" fill="#FFFFFF">
                            <path d="M12.4301887,15.6606061 L12.4301887,34.9484848 L4.9490566,34.9484848 L4.9490566,15.6606061 L0.345283019,15.6606061 L0.345283019,10.0181818 L4.9490566,10.0181818 L5.00660377,8.06060606 C5.00660377,6.73636364 5.12169811,5.64242424 5.29433962,4.77878788 C5.5245283,3.97272727 5.98490566,3.16666667 6.73301887,2.41818182 C7.48113208,1.66969697 8.28679245,1.20909091 9.15,0.978787879 C9.95566038,0.748484848 11.0490566,0.690909091 12.3150943,0.690909091 L19.1632075,0.690909091 L19.1632075,6.56363636 L15.7679245,6.56363636 C15.1349057,6.56363636 14.6169811,6.62121212 14.3292453,6.67878788 C14.0415094,6.73636364 13.6962264,6.90909091 13.3509434,7.13939394 C12.7179245,7.65757576 12.4301887,8.17575758 12.4301887,9.5 L12.4301887,10.0181818 L19.1632075,10.0181818 L19.1632075,15.6606061 L12.4301887,15.6606061 L12.4301887,15.6606061 Z" id="Shape"></path>
                            <path d="M31.9386792,25.1030303 C30.4424528,25.1030303 29.1764151,24.930303 28.140566,24.6424242 C27.104717,24.2969697 26.1264151,23.6636364 25.2632075,22.7424242 C23.8820755,21.1878788 23.1915094,19.7484848 23.1915094,17.6757576 L23.1915094,0.633333333 L30.6150943,0.633333333 L30.6150943,16.4090909 C30.6150943,17.2151515 30.9028302,17.7909091 31.4207547,18.3090909 C31.8811321,18.7121212 32.3990566,18.9424242 33.1471698,18.9424242 L38.6716981,18.9424242 L38.6716981,0.633333333 L46.1528302,0.633333333 L46.1528302,25.1030303 L31.9386792,25.1030303 L31.9386792,25.1030303 Z" id="Shape"></path>
                            <path d="M62.8415094,6.50606061 L62.8415094,24.9878788 L55.3603774,24.9878788 L55.3603774,6.50606061 L50.0084906,6.50606061 L50.0084906,0.633333333 L68.5386792,0.633333333 L68.5386792,6.50606061 L62.8415094,6.50606061 L62.8415094,6.50606061 Z" id="Shape"></path>
                            <path d="M96.8518868,12.8393939 C96.8518868,15.4878788 96.3915094,17.6757576 95.4132075,19.5181818 C93.3415094,23.5484848 89.4283019,25.0454545 85.1122642,25.0454545 L78.609434,25.0454545 L78.609434,34.7757576 L71.1858491,34.7757576 L71.1858491,0.633333333 L85.1122642,0.633333333 C89.4283019,0.633333333 93.3415094,2.18787879 95.4132075,6.16060606 C96.3339623,8.0030303 96.7943396,10.2484848 96.8518868,12.8393939 L96.8518868,12.8393939 L96.8518868,12.8393939 Z M89.0830189,12.8393939 C89.0830189,10.7666667 88.6226415,9.32727273 87.7018868,8.29090909 C86.7811321,7.31212121 85.6301887,6.85151515 84.1915094,6.85151515 L78.6669811,6.85151515 L78.6669811,18.8848485 L84.1915094,18.8272727 C85.6301887,18.8272727 86.8386792,18.3666667 87.7018868,17.330303 C88.5650943,16.4090909 89.0254717,14.9121212 89.0830189,12.8393939 L89.0830189,12.8393939 L89.0830189,12.8393939 Z" id="Shape"></path>
                            <path d="M124.474528,19.7484848 C122.115094,24.0090909 117.683962,25.5636364 113.022642,25.6212121 C108.418868,25.6212121 103.930189,24.0666667 101.570755,19.8060606 C100.534906,17.9060606 100.016981,15.5454545 100.016981,12.8393939 C100.016981,10.1333333 100.534906,7.83030303 101.570755,5.93030303 C103.930189,1.66969697 108.361321,0.115151515 113.022642,0.115151515 C117.626415,0.115151515 122.115094,1.66969697 124.474528,5.87272727 C125.510377,7.77272727 126.028302,10.1333333 126.028302,12.8393939 C126.028302,15.5454545 125.510377,17.8484848 124.474528,19.7484848 L124.474528,19.7484848 Z M117.108491,7.83030303 C116.360377,6.73636364 115.036792,6.16060606 113.022642,6.16060606 C111.641509,6.16060606 110.60566,6.44848485 109.857547,6.90909091 C109.109434,7.42727273 108.591509,8.17575758 108.303774,9.15454545 C108.016038,10.1333333 107.843396,11.3424242 107.843396,12.8393939 C107.843396,14.3363636 107.958491,15.5454545 108.303774,16.5242424 C108.591509,17.5030303 109.109434,18.2515152 109.915094,18.7121212 C110.663208,19.230303 111.699057,19.5181818 113.080189,19.5181818 C115.09434,19.5181818 116.417925,18.9424242 117.166038,17.9060606 C117.914151,16.8121212 118.316981,15.0848485 118.316981,12.7818182 C118.201887,10.5939394 117.856604,8.86666667 117.108491,7.83030303 L117.108491,7.83030303 Z" id="Shape"></path>
                            <path d="M144.788679,25.1030303 L144.788679,9.32727273 C144.788679,8.52121212 144.500943,7.94545455 143.983019,7.48484848 C143.522642,7.08181818 143.004717,6.85151515 142.256604,6.85151515 L136.732075,6.85151515 L136.732075,25.0454545 L129.308491,25.0454545 L129.308491,0.633333333 L143.465094,0.633333333 C144.961321,0.633333333 146.227358,0.806060606 147.263208,1.20909091 C148.299057,1.55454545 149.277358,2.18787879 150.140566,3.05151515 C151.579245,4.60606061 152.212264,6.04545455 152.212264,8.17575758 L152.212264,25.1030303 L144.788679,25.1030303 L144.788679,25.1030303 Z" id="Shape"></path>
                            <path d="M178.741509,32.4727273 C177.072642,34.0272727 174.943396,34.8333333 172.353774,34.8333333 L158.369811,34.8333333 L158.369811,28.9606061 L171.087736,28.9606061 C172.066038,28.9606061 172.814151,28.6727273 173.274528,28.1545455 C173.677358,27.6939394 173.907547,26.830303 173.907547,25.5060606 L173.907547,25.1030303 L167.462264,25.1030303 C163.779245,25.1030303 160.84434,24.0666667 158.830189,21.9363636 C156.758491,19.8636364 155.722642,16.8121212 155.665094,12.8969697 C155.665094,8.98181818 156.700943,5.93030303 158.830189,3.8 C160.901887,1.72727273 163.779245,0.633333333 167.462264,0.633333333 L181.331132,0.633333333 L181.388679,24.9878788 L181.388679,25.6212121 C181.388679,28.5 180.525472,30.7454545 178.741509,32.4727273 L178.741509,32.4727273 Z M173.907547,6.85151515 L168.383019,6.85151515 C166.94434,6.85151515 165.735849,7.31212121 164.872642,8.34848485 C163.951887,9.32727273 163.491509,10.7666667 163.433962,12.8393939 C163.433962,14.9121212 163.89434,16.3515152 164.815094,17.4454545 C165.735849,18.4242424 166.886792,18.8848485 168.325472,18.8848485 L173.85,18.8848485 L173.85,6.85151515 L173.907547,6.85151515 Z" id="Shape"></path>
                            <path d="M185.014151,25.1606061 L185.014151,19.3454545 L192.034906,19.3454545 L192.034906,25.1606061 L185.014151,25.1606061 L185.014151,25.1606061 Z" id="Shape"></path>
                            <path d="M211.140566,25.1030303 L211.140566,9.32727273 C211.140566,8.52121212 210.85283,7.94545455 210.334906,7.48484848 C209.874528,7.08181818 209.356604,6.85151515 208.608491,6.85151515 L203.083962,6.85151515 L203.083962,25.0454545 L195.660377,25.0454545 L195.660377,0.633333333 L209.816981,0.633333333 C211.313208,0.633333333 212.579245,0.806060606 213.615094,1.20909091 C214.650943,1.55454545 215.629245,2.18787879 216.492453,3.05151515 C217.931132,4.60606061 218.564151,6.04545455 218.564151,8.17575758 L218.564151,25.1030303 L211.140566,25.1030303 L211.140566,25.1030303 Z" id="Shape"></path>
                            <path d="M233.814151,25.1030303 C230.131132,25.1030303 227.196226,24.0666667 225.182075,21.9363636 C223.110377,19.8636364 222.074528,16.8121212 222.016981,12.8969697 C222.016981,8.98181818 223.05283,5.93030303 225.182075,3.8 C227.253774,1.72727273 230.131132,0.633333333 233.756604,0.633333333 L243.712264,0.633333333 L243.712264,6.50606061 L234.792453,6.50606061 C233.526415,6.50606061 232.433019,6.90909091 231.512264,7.65757576 C230.879245,8.17575758 230.418868,9.03939394 229.958491,10.0757576 L243.769811,10.0757576 L243.769811,15.7181818 L230.016038,15.6606061 C230.476415,16.6969697 230.879245,17.5606061 231.569811,18.0787879 C232.433019,18.8272727 233.526415,19.230303 234.85,19.230303 L243.827358,19.230303 L243.827358,25.1030303 L233.814151,25.1030303 L233.814151,25.1030303 Z" id="Shape"></path>
                            <path d="M259.940566,6.50606061 L259.940566,24.9878788 L252.459434,24.9878788 L252.459434,6.50606061 L247.107547,6.50606061 L247.107547,0.633333333 L265.637736,0.633333333 L265.637736,6.50606061 L259.940566,6.50606061 L259.940566,6.50606061 Z" id="Shape"></path>
                        </g>
                        <g id="Group">
                            <ellipse id="Oval" fill="#ED1C24" cx="16.8613208" cy="16.9272727" rx="16.3433962" ry="16.5242424"></ellipse>
                            <path d="M0.978301887,15.9484848 C0.978301887,7.94545455 7.42358491,1.43939394 15.3650943,1.43939394 L15.3650943,8.06060606 C14.9622642,12.3212121 12.4301887,14.6818182 7.59622642,15.8909091 L0.978301887,15.8909091 L0.978301887,15.9484848 Z" id="Shape" fill="url(#radialGradient-1)"></path>
                        </g>
                    </g>
                </g>
                <path class="subtitleText" d="M45.092,45.088 L48.326,45.088 C48.8953362,45.088 49.4086644,45.1393328 49.866,45.242 C50.3233356,45.3446672 50.7153317,45.5126655 51.042,45.746 C51.3686683,45.9793345 51.6206658,46.2779982 51.798,46.642 C51.9753342,47.0060018 52.064,47.4446641 52.064,47.958 C52.064,48.5086694 51.9613344,48.9706648 51.756,49.344 C51.5506656,49.7173352 51.2730018,50.0183322 50.923,50.247 C50.5729983,50.4756678 50.164669,50.6413328 49.698,50.744 C49.231331,50.8466672 48.7366693,50.898 48.214,50.898 L46.856,50.898 L46.856,55 L45.092,55 L45.092,45.088 Z M48.088,49.414 C48.3773348,49.414 48.6526654,49.3930002 48.914,49.351 C49.1753346,49.3089998 49.4086656,49.2343339 49.614,49.127 C49.8193344,49.0196661 49.9826661,48.8726676 50.104,48.686 C50.2253339,48.4993324 50.286,48.2566682 50.286,47.958 C50.286,47.6686652 50.2253339,47.4330009 50.104,47.251 C49.9826661,47.0689991 49.8216677,46.9266672 49.621,46.824 C49.4203323,46.7213328 49.191668,46.6536668 48.935,46.621 C48.6783321,46.5883332 48.414668,46.572 48.144,46.572 L46.856,46.572 L46.856,49.414 L48.088,49.414 Z M54.576,44.416 L56.256,44.416 L56.256,55 L54.576,55 L54.576,44.416 Z M63.472,54.146 L63.43,54.146 C63.2619992,54.4446682 62.9913352,54.6896657 62.618,54.881 C62.2446648,55.0723343 61.8200024,55.168 61.344,55.168 C61.073332,55.168 60.7910015,55.1330004 60.497,55.063 C60.2029985,54.9929997 59.9323346,54.8763341 59.685,54.713 C59.4376654,54.5496658 59.2323342,54.3350013 59.069,54.069 C58.9056659,53.8029987 58.824,53.474002 58.824,53.082 C58.824,52.5779975 58.9663319,52.1766682 59.251,51.878 C59.5356681,51.5793318 59.9019978,51.3506675 60.35,51.192 C60.7980022,51.0333325 61.2949973,50.9283336 61.841,50.877 C62.3870027,50.8256664 62.9213307,50.8 63.444,50.8 L63.444,50.632 C63.444,50.2119979 63.2923349,49.9016677 62.989,49.701 C62.6856652,49.5003323 62.3240021,49.4 61.904,49.4 C61.5493316,49.4 61.2086683,49.4746659 60.882,49.624 C60.5553317,49.7733341 60.2846677,49.9553323 60.07,50.17 L59.202,49.148 C59.5846686,48.7933316 60.0256642,48.5273342 60.525,48.35 C61.0243358,48.1726658 61.5306641,48.084 62.044,48.084 C62.6413363,48.084 63.1336647,48.1679992 63.521,48.336 C63.9083353,48.5040008 64.2139989,48.723332 64.438,48.994 C64.6620011,49.264668 64.8183329,49.5679983 64.907,49.904 C64.9956671,50.2400017 65.04,50.5759983 65.04,50.912 L65.04,55 L63.472,55 L63.472,54.146 Z M63.444,51.934 L63.066,51.934 C62.795332,51.934 62.5106682,51.9456665 62.212,51.969 C61.9133318,51.9923335 61.6380013,52.0436663 61.386,52.123 C61.1339987,52.2023337 60.9240008,52.3143326 60.756,52.459 C60.5879992,52.6036674 60.504,52.8019987 60.504,53.054 C60.504,53.2126675 60.5389997,53.3456661 60.609,53.453 C60.6790004,53.5603339 60.7699994,53.6466663 60.882,53.712 C60.9940006,53.7773337 61.1199993,53.8239999 61.26,53.852 C61.4000007,53.8800001 61.5399993,53.894 61.68,53.894 C62.2586696,53.894 62.6973318,53.7400015 62.996,53.432 C63.2946682,53.1239985 63.444,52.7040027 63.444,52.172 L63.444,51.934 Z M66.992,48.28 L68.854,48.28 L70.73,53.166 L70.758,53.166 L72.424,48.28 L74.174,48.28 L70.996,56.442 C70.8746661,56.7500015 70.7440007,57.0229988 70.604,57.261 C70.4639993,57.4990012 70.296001,57.6996659 70.1,57.863 C69.903999,58.0263341 69.6730013,58.1499996 69.407,58.234 C69.1409987,58.3180004 68.8213352,58.36 68.448,58.36 C68.3079993,58.36 68.1656674,58.3530001 68.021,58.339 C67.8763326,58.3249999 67.7293341,58.2993335 67.58,58.262 L67.72,56.806 C67.8320006,56.8433335 67.9416661,56.8689999 68.049,56.883 C68.1563339,56.8970001 68.2566662,56.904 68.35,56.904 C68.5273342,56.904 68.6766661,56.8830002 68.798,56.841 C68.9193339,56.7989998 69.0219996,56.7336671 69.106,56.645 C69.1900004,56.5563329 69.2646663,56.4466673 69.33,56.316 C69.3953337,56.1853327 69.465333,56.0313342 69.54,55.854 L69.876,55 L66.992,48.28 Z M80.766,45.088 L82.53,45.088 L82.53,55 L80.766,55 L80.766,45.088 Z M84.664,49.624 L84.664,48.28 L85.84,48.28 L85.84,46.334 L87.492,46.334 L87.492,48.28 L89.172,48.28 L89.172,49.624 L87.492,49.624 L87.492,52.746 C87.492,53.0446682 87.5456661,53.291999 87.653,53.488 C87.7603339,53.684001 88.0006648,53.782 88.374,53.782 C88.4860006,53.782 88.6073327,53.7703334 88.738,53.747 C88.8686673,53.7236666 88.9853328,53.6886669 89.088,53.642 L89.144,54.958 C88.9946659,55.0140003 88.8173344,55.0583332 88.612,55.091 C88.4066656,55.1236668 88.2106676,55.14 88.024,55.14 C87.5759978,55.14 87.2120014,55.0770006 86.932,54.951 C86.6519986,54.8249994 86.4303342,54.6523344 86.267,54.433 C86.1036659,54.2136656 85.991667,53.9616681 85.931,53.677 C85.870333,53.3923319 85.84,53.0866683 85.84,52.76 L85.84,49.624 L84.664,49.624 Z M91.082,54.02 C91.082,53.7213318 91.1916656,53.4646677 91.411,53.25 C91.6303344,53.0353323 91.8939985,52.928 92.202,52.928 C92.5006682,52.928 92.7619989,53.0306656 92.986,53.236 C93.2100011,53.4413344 93.322,53.6933318 93.322,53.992 C93.322,54.2906682 93.2123344,54.5473323 92.993,54.762 C92.7736656,54.9766677 92.5100015,55.084 92.202,55.084 C92.0526659,55.084 91.910334,55.0560003 91.775,55 C91.639666,54.9439997 91.5206672,54.8693338 91.418,54.776 C91.3153328,54.6826662 91.233667,54.5706673 91.173,54.44 C91.112333,54.3093327 91.082,54.1693341 91.082,54.02 L91.082,54.02 Z M105.248,47.16 C105.061332,46.9173321 104.797668,46.7143341 104.457,46.551 C104.116332,46.3876658 103.773335,46.306 103.428,46.306 C103.222666,46.306 103.017334,46.3316664 102.812,46.383 C102.606666,46.4343336 102.420001,46.5136661 102.252,46.621 C102.083999,46.7283339 101.946334,46.8683325 101.839,47.041 C101.731666,47.2136675 101.678,47.4213321 101.678,47.664 C101.678,47.8880011 101.724666,48.0793325 101.818,48.238 C101.911334,48.3966675 102.039666,48.5319994 102.203,48.644 C102.366334,48.7560006 102.564666,48.8539996 102.798,48.938 C103.031335,49.0220004 103.287999,49.1059996 103.568,49.19 C103.885335,49.2926672 104.214332,49.4093327 104.555,49.54 C104.895668,49.6706673 105.208332,49.8433323 105.493,50.058 C105.777668,50.2726677 106.010999,50.5433317 106.193,50.87 C106.375001,51.1966683 106.466,51.6026642 106.466,52.088 C106.466,52.6200027 106.368001,53.0843313 106.172,53.481 C105.975999,53.8776687 105.714668,54.2066654 105.388,54.468 C105.061332,54.7293346 104.678669,54.9253327 104.24,55.056 C103.801331,55.1866673 103.339336,55.252 102.854,55.252 C102.209997,55.252 101.580003,55.1330012 100.964,54.895 C100.347997,54.6569988 99.844002,54.304669 99.452,53.838 L100.712,52.662 C100.954668,52.9980017 101.278998,53.263999 101.685,53.46 C102.091002,53.656001 102.489998,53.754 102.882,53.754 C103.087334,53.754 103.297332,53.7283336 103.512,53.677 C103.726668,53.6256664 103.920332,53.5393339 104.093,53.418 C104.265668,53.2966661 104.405666,53.1450009 104.513,52.963 C104.620334,52.7809991 104.674,52.554668 104.674,52.284 C104.674,52.0226654 104.613334,51.8056675 104.492,51.633 C104.370666,51.4603325 104.207334,51.3110006 104.002,51.185 C103.796666,51.0589994 103.554001,50.9493338 103.274,50.856 C102.993999,50.7626662 102.700002,50.6646672 102.392,50.562 C102.093332,50.4686662 101.794668,50.3566673 101.496,50.226 C101.197332,50.0953327 100.929001,49.9226677 100.691,49.708 C100.452999,49.4933323 100.259334,49.2296682 100.11,48.917 C99.9606659,48.6043318 99.886,48.214669 99.886,47.748 C99.886,47.2439975 99.990999,46.8100018 100.201,46.446 C100.411001,46.0819982 100.686332,45.7810012 101.027,45.543 C101.367668,45.3049988 101.754998,45.1276673 102.189,45.011 C102.623002,44.8943328 103.063998,44.836 103.512,44.836 C104.016003,44.836 104.526997,44.9246658 105.045,45.102 C105.563003,45.2793342 106.013331,45.5453316 106.396,45.9 L105.248,47.16 Z M112.884,48.084 C113.322669,48.084 113.698332,48.1609992 114.011,48.315 C114.323668,48.4690008 114.580332,48.6719987 114.781,48.924 C114.981668,49.1760013 115.128666,49.4653317 115.222,49.792 C115.315334,50.1186683 115.362,50.4546649 115.362,50.8 L115.362,55 L113.682,55 L113.682,51.304 C113.682,51.107999 113.668,50.905001 113.64,50.695 C113.612,50.4849989 113.553667,50.2936675 113.465,50.121 C113.376333,49.9483325 113.250334,49.8060006 113.087,49.694 C112.923666,49.5819994 112.706668,49.526 112.436,49.526 C112.165332,49.526 111.932001,49.5773328 111.736,49.68 C111.539999,49.7826672 111.376667,49.9203325 111.246,50.093 C111.115333,50.2656675 111.017334,50.4593323 110.952,50.674 C110.886666,50.8886677 110.854,51.1079989 110.854,51.332 L110.854,55 L109.174,55 L109.174,44.416 L110.854,44.416 L110.854,49.218 L110.882,49.218 C110.947334,49.0779993 111.042999,48.940334 111.169,48.805 C111.295001,48.669666 111.441999,48.5483339 111.61,48.441 C111.778001,48.3336661 111.969332,48.2473337 112.184,48.182 C112.398668,48.1166663 112.631999,48.084 112.884,48.084 L112.884,48.084 Z M122.494,54.146 L122.452,54.146 C122.283999,54.4446682 122.013335,54.6896657 121.64,54.881 C121.266665,55.0723343 120.842002,55.168 120.366,55.168 C120.095332,55.168 119.813001,55.1330004 119.519,55.063 C119.224999,54.9929997 118.954335,54.8763341 118.707,54.713 C118.459665,54.5496658 118.254334,54.3350013 118.091,54.069 C117.927666,53.8029987 117.846,53.474002 117.846,53.082 C117.846,52.5779975 117.988332,52.1766682 118.273,51.878 C118.557668,51.5793318 118.923998,51.3506675 119.372,51.192 C119.820002,51.0333325 120.316997,50.9283336 120.863,50.877 C121.409003,50.8256664 121.943331,50.8 122.466,50.8 L122.466,50.632 C122.466,50.2119979 122.314335,49.9016677 122.011,49.701 C121.707665,49.5003323 121.346002,49.4 120.926,49.4 C120.571332,49.4 120.230668,49.4746659 119.904,49.624 C119.577332,49.7733341 119.306668,49.9553323 119.092,50.17 L118.224,49.148 C118.606669,48.7933316 119.047664,48.5273342 119.547,48.35 C120.046336,48.1726658 120.552664,48.084 121.066,48.084 C121.663336,48.084 122.155665,48.1679992 122.543,48.336 C122.930335,48.5040008 123.235999,48.723332 123.46,48.994 C123.684001,49.264668 123.840333,49.5679983 123.929,49.904 C124.017667,50.2400017 124.062,50.5759983 124.062,50.912 L124.062,55 L122.494,55 L122.494,54.146 Z M122.466,51.934 L122.088,51.934 C121.817332,51.934 121.532668,51.9456665 121.234,51.969 C120.935332,51.9923335 120.660001,52.0436663 120.408,52.123 C120.155999,52.2023337 119.946001,52.3143326 119.778,52.459 C119.609999,52.6036674 119.526,52.8019987 119.526,53.054 C119.526,53.2126675 119.561,53.3456661 119.631,53.453 C119.701,53.5603339 119.791999,53.6466663 119.904,53.712 C120.016001,53.7773337 120.141999,53.8239999 120.282,53.852 C120.422001,53.8800001 120.561999,53.894 120.702,53.894 C121.28067,53.894 121.719332,53.7400015 122.018,53.432 C122.316668,53.1239985 122.466,52.7040027 122.466,52.172 L122.466,51.934 Z M127.022,48.28 L128.632,48.28 L128.632,49.4 L128.66,49.4 C128.846668,49.007998 129.107998,48.6906679 129.444,48.448 C129.780002,48.2053321 130.171998,48.084 130.62,48.084 C130.685334,48.084 130.755333,48.0863333 130.83,48.091 C130.904667,48.0956667 130.97,48.1073332 131.026,48.126 L131.026,49.666 C130.913999,49.6379999 130.818334,49.6193334 130.739,49.61 C130.659666,49.6006666 130.582667,49.596 130.508,49.596 C130.125331,49.596 129.817335,49.6659993 129.584,49.806 C129.350666,49.9460007 129.168667,50.113999 129.038,50.31 C128.907333,50.506001 128.818667,50.7066656 128.772,50.912 C128.725333,51.1173344 128.702,51.2806661 128.702,51.402 L128.702,55 L127.022,55 L127.022,48.28 Z M137.598,50.968 C137.598,50.7533323 137.567667,50.548001 137.507,50.352 C137.446333,50.155999 137.350667,49.9833341 137.22,49.834 C137.089333,49.6846659 136.923668,49.5656671 136.723,49.477 C136.522332,49.3883329 136.286668,49.344 136.016,49.344 C135.511997,49.344 135.085002,49.4956652 134.735,49.799 C134.384998,50.1023348 134.191334,50.4919976 134.154,50.968 L137.598,50.968 Z M139.278,51.724 L139.278,51.948 C139.278,52.022667 139.273333,52.097333 139.264,52.172 L134.154,52.172 C134.172667,52.4146679 134.235666,52.6363323 134.343,52.837 C134.450334,53.0376677 134.592666,53.2103326 134.77,53.355 C134.947334,53.4996674 135.147999,53.6139996 135.372,53.698 C135.596001,53.7820004 135.829332,53.824 136.072,53.824 C136.492002,53.824 136.846665,53.7470008 137.136,53.593 C137.425335,53.4389992 137.663332,53.226668 137.85,52.956 L138.97,53.852 C138.30733,54.7480045 137.346006,55.196 136.086,55.196 C135.563331,55.196 135.082669,55.1143341 134.644,54.951 C134.205331,54.7876658 133.825002,54.5566682 133.503,54.258 C133.180998,53.9593318 132.929001,53.5930022 132.747,53.159 C132.564999,52.7249978 132.474,52.2326694 132.474,51.682 C132.474,51.140664 132.564999,50.6483355 132.747,50.205 C132.929001,49.7616644 133.178665,49.3836682 133.496,49.071 C133.813335,48.7583318 134.188998,48.5156675 134.623,48.343 C135.057002,48.1703325 135.525997,48.084 136.03,48.084 C136.496669,48.084 136.928331,48.1609992 137.325,48.315 C137.721669,48.4690008 138.064665,48.6976651 138.354,49.001 C138.643335,49.3043349 138.869666,49.6823311 139.033,50.135 C139.196334,50.5876689 139.278,51.1173303 139.278,51.724 L139.278,51.724 Z M146.486,45.088 L148.25,45.088 L148.25,55 L146.486,55 L146.486,45.088 Z M150.384,49.624 L150.384,48.28 L151.56,48.28 L151.56,46.334 L153.212,46.334 L153.212,48.28 L154.892,48.28 L154.892,49.624 L153.212,49.624 L153.212,52.746 C153.212,53.0446682 153.265666,53.291999 153.373,53.488 C153.480334,53.684001 153.720665,53.782 154.094,53.782 C154.206001,53.782 154.327333,53.7703334 154.458,53.747 C154.588667,53.7236666 154.705333,53.6886669 154.808,53.642 L154.864,54.958 C154.714666,55.0140003 154.537334,55.0583332 154.332,55.091 C154.126666,55.1236668 153.930668,55.14 153.744,55.14 C153.295998,55.14 152.932001,55.0770006 152.652,54.951 C152.371999,54.8249994 152.150334,54.6523344 151.987,54.433 C151.823666,54.2136656 151.711667,53.9616681 151.651,53.677 C151.590333,53.3923319 151.56,53.0866683 151.56,52.76 L151.56,49.624 L150.384,49.624 Z M156.802,54.02 C156.802,53.7213318 156.911666,53.4646677 157.131,53.25 C157.350334,53.0353323 157.613998,52.928 157.922,52.928 C158.220668,52.928 158.481999,53.0306656 158.706,53.236 C158.930001,53.4413344 159.042,53.6933318 159.042,53.992 C159.042,54.2906682 158.932334,54.5473323 158.713,54.762 C158.493666,54.9766677 158.230002,55.084 157.922,55.084 C157.772666,55.084 157.630334,55.0560003 157.495,55 C157.359666,54.9439997 157.240667,54.8693338 157.138,54.776 C157.035333,54.6826662 156.953667,54.5706673 156.893,54.44 C156.832333,54.3093327 156.802,54.1693341 156.802,54.02 L156.802,54.02 Z M165.914,45.088 L168.672,45.088 L171.248,52.13 L171.29,52.13 L173.838,45.088 L176.61,45.088 L176.61,55 L174.86,55 L174.86,47.034 L174.832,47.034 L171.822,55 L170.59,55 L167.622,47.034 L167.594,47.034 L167.594,55 L165.914,55 L165.914,45.088 Z M183.882,54.146 L183.84,54.146 C183.671999,54.4446682 183.401335,54.6896657 183.028,54.881 C182.654665,55.0723343 182.230002,55.168 181.754,55.168 C181.483332,55.168 181.201001,55.1330004 180.907,55.063 C180.612999,54.9929997 180.342335,54.8763341 180.095,54.713 C179.847665,54.5496658 179.642334,54.3350013 179.479,54.069 C179.315666,53.8029987 179.234,53.474002 179.234,53.082 C179.234,52.5779975 179.376332,52.1766682 179.661,51.878 C179.945668,51.5793318 180.311998,51.3506675 180.76,51.192 C181.208002,51.0333325 181.704997,50.9283336 182.251,50.877 C182.797003,50.8256664 183.331331,50.8 183.854,50.8 L183.854,50.632 C183.854,50.2119979 183.702335,49.9016677 183.399,49.701 C183.095665,49.5003323 182.734002,49.4 182.314,49.4 C181.959332,49.4 181.618668,49.4746659 181.292,49.624 C180.965332,49.7733341 180.694668,49.9553323 180.48,50.17 L179.612,49.148 C179.994669,48.7933316 180.435664,48.5273342 180.935,48.35 C181.434336,48.1726658 181.940664,48.084 182.454,48.084 C183.051336,48.084 183.543665,48.1679992 183.931,48.336 C184.318335,48.5040008 184.623999,48.723332 184.848,48.994 C185.072001,49.264668 185.228333,49.5679983 185.317,49.904 C185.405667,50.2400017 185.45,50.5759983 185.45,50.912 L185.45,55 L183.882,55 L183.882,54.146 Z M183.854,51.934 L183.476,51.934 C183.205332,51.934 182.920668,51.9456665 182.622,51.969 C182.323332,51.9923335 182.048001,52.0436663 181.796,52.123 C181.543999,52.2023337 181.334001,52.3143326 181.166,52.459 C180.997999,52.6036674 180.914,52.8019987 180.914,53.054 C180.914,53.2126675 180.949,53.3456661 181.019,53.453 C181.089,53.5603339 181.179999,53.6466663 181.292,53.712 C181.404001,53.7773337 181.529999,53.8239999 181.67,53.852 C181.810001,53.8800001 181.949999,53.894 182.09,53.894 C182.66867,53.894 183.107332,53.7400015 183.406,53.432 C183.704668,53.1239985 183.854,52.7040027 183.854,52.172 L183.854,51.934 Z M192.092,50.072 C191.942666,49.875999 191.737335,49.7056674 191.476,49.561 C191.214665,49.4163326 190.930002,49.344 190.622,49.344 C190.351332,49.344 190.104001,49.3999994 189.88,49.512 C189.655999,49.6240006 189.544,49.8106654 189.544,50.072 C189.544,50.3333346 189.667665,50.5176661 189.915,50.625 C190.162335,50.7323339 190.523998,50.8419994 191,50.954 C191.252001,51.0100003 191.506332,51.0846662 191.763,51.178 C192.019668,51.2713338 192.252999,51.3949992 192.463,51.549 C192.673001,51.7030008 192.843333,51.8943322 192.974,52.123 C193.104667,52.3516678 193.17,52.6293317 193.17,52.956 C193.17,53.3666687 193.093001,53.7143319 192.939,53.999 C192.784999,54.2836681 192.579668,54.5146658 192.323,54.692 C192.066332,54.8693342 191.767668,54.9976663 191.427,55.077 C191.086332,55.1563337 190.734002,55.196 190.37,55.196 C189.847331,55.196 189.338669,55.1003343 188.844,54.909 C188.349331,54.7176657 187.938668,54.4446684 187.612,54.09 L188.718,53.054 C188.904668,53.2966679 189.147332,53.4973325 189.446,53.656 C189.744668,53.8146675 190.075998,53.894 190.44,53.894 C190.561334,53.894 190.684999,53.8800001 190.811,53.852 C190.937001,53.8239999 191.053666,53.779667 191.161,53.719 C191.268334,53.658333 191.354666,53.5766672 191.42,53.474 C191.485334,53.3713328 191.518,53.2453341 191.518,53.096 C191.518,52.8159986 191.389668,52.6153339 191.133,52.494 C190.876332,52.3726661 190.491336,52.2513339 189.978,52.13 C189.725999,52.0739997 189.481001,52.0016671 189.243,51.913 C189.004999,51.8243329 188.792668,51.7076674 188.606,51.563 C188.419332,51.4183326 188.270001,51.2386677 188.158,51.024 C188.045999,50.8093323 187.99,50.5433349 187.99,50.226 C187.99,49.8526648 188.066999,49.530668 188.221,49.26 C188.375001,48.989332 188.577999,48.7676675 188.83,48.595 C189.082001,48.4223325 189.366665,48.2940004 189.684,48.21 C190.001335,48.1259996 190.327998,48.084 190.664,48.084 C191.149336,48.084 191.622998,48.1679992 192.085,48.336 C192.547002,48.5040008 192.913332,48.7606649 193.184,49.106 L192.092,50.072 Z M194.66,49.624 L194.66,48.28 L195.836,48.28 L195.836,46.334 L197.488,46.334 L197.488,48.28 L199.168,48.28 L199.168,49.624 L197.488,49.624 L197.488,52.746 C197.488,53.0446682 197.541666,53.291999 197.649,53.488 C197.756334,53.684001 197.996665,53.782 198.37,53.782 C198.482001,53.782 198.603333,53.7703334 198.734,53.747 C198.864667,53.7236666 198.981333,53.6886669 199.084,53.642 L199.14,54.958 C198.990666,55.0140003 198.813334,55.0583332 198.608,55.091 C198.402666,55.1236668 198.206668,55.14 198.02,55.14 C197.571998,55.14 197.208001,55.0770006 196.928,54.951 C196.647999,54.8249994 196.426334,54.6523344 196.263,54.433 C196.099666,54.2136656 195.987667,53.9616681 195.927,53.677 C195.866333,53.3923319 195.836,53.0866683 195.836,52.76 L195.836,49.624 L194.66,49.624 Z M206.118,50.968 C206.118,50.7533323 206.087667,50.548001 206.027,50.352 C205.966333,50.155999 205.870667,49.9833341 205.74,49.834 C205.609333,49.6846659 205.443668,49.5656671 205.243,49.477 C205.042332,49.3883329 204.806668,49.344 204.536,49.344 C204.031997,49.344 203.605002,49.4956652 203.255,49.799 C202.904998,50.1023348 202.711334,50.4919976 202.674,50.968 L206.118,50.968 Z M207.798,51.724 L207.798,51.948 C207.798,52.022667 207.793333,52.097333 207.784,52.172 L202.674,52.172 C202.692667,52.4146679 202.755666,52.6363323 202.863,52.837 C202.970334,53.0376677 203.112666,53.2103326 203.29,53.355 C203.467334,53.4996674 203.667999,53.6139996 203.892,53.698 C204.116001,53.7820004 204.349332,53.824 204.592,53.824 C205.012002,53.824 205.366665,53.7470008 205.656,53.593 C205.945335,53.4389992 206.183332,53.226668 206.37,52.956 L207.49,53.852 C206.82733,54.7480045 205.866006,55.196 204.606,55.196 C204.083331,55.196 203.602669,55.1143341 203.164,54.951 C202.725331,54.7876658 202.345002,54.5566682 202.023,54.258 C201.700998,53.9593318 201.449001,53.5930022 201.267,53.159 C201.084999,52.7249978 200.994,52.2326694 200.994,51.682 C200.994,51.140664 201.084999,50.6483355 201.267,50.205 C201.449001,49.7616644 201.698665,49.3836682 202.016,49.071 C202.333335,48.7583318 202.708998,48.5156675 203.143,48.343 C203.577002,48.1703325 204.045997,48.084 204.55,48.084 C205.016669,48.084 205.448331,48.1609992 205.845,48.315 C206.241669,48.4690008 206.584665,48.6976651 206.874,49.001 C207.163335,49.3043349 207.389666,49.6823311 207.553,50.135 C207.716334,50.5876689 207.798,51.1173303 207.798,51.724 L207.798,51.724 Z M210.422,48.28 L212.032,48.28 L212.032,49.4 L212.06,49.4 C212.246668,49.007998 212.507998,48.6906679 212.844,48.448 C213.180002,48.2053321 213.571998,48.084 214.02,48.084 C214.085334,48.084 214.155333,48.0863333 214.23,48.091 C214.304667,48.0956667 214.37,48.1073332 214.426,48.126 L214.426,49.666 C214.313999,49.6379999 214.218334,49.6193334 214.139,49.61 C214.059666,49.6006666 213.982667,49.596 213.908,49.596 C213.525331,49.596 213.217335,49.6659993 212.984,49.806 C212.750666,49.9460007 212.568667,50.113999 212.438,50.31 C212.307333,50.506001 212.218667,50.7066656 212.172,50.912 C212.125333,51.1173344 212.102,51.2806661 212.102,51.402 L212.102,55 L210.422,55 L210.422,48.28 Z M221.102,45.088 L222.866,45.088 L222.866,55 L221.102,55 L221.102,45.088 Z M225,49.624 L225,48.28 L226.176,48.28 L226.176,46.334 L227.828,46.334 L227.828,48.28 L229.508,48.28 L229.508,49.624 L227.828,49.624 L227.828,52.746 C227.828,53.0446682 227.881666,53.291999 227.989,53.488 C228.096334,53.684001 228.336665,53.782 228.71,53.782 C228.822001,53.782 228.943333,53.7703334 229.074,53.747 C229.204667,53.7236666 229.321333,53.6886669 229.424,53.642 L229.48,54.958 C229.330666,55.0140003 229.153334,55.0583332 228.948,55.091 C228.742666,55.1236668 228.546668,55.14 228.36,55.14 C227.911998,55.14 227.548001,55.0770006 227.268,54.951 C226.987999,54.8249994 226.766334,54.6523344 226.603,54.433 C226.439666,54.2136656 226.327667,53.9616681 226.267,53.677 C226.206333,53.3923319 226.176,53.0866683 226.176,52.76 L226.176,49.624 L225,49.624 Z M231.418,54.02 C231.418,53.7213318 231.527666,53.4646677 231.747,53.25 C231.966334,53.0353323 232.229998,52.928 232.538,52.928 C232.836668,52.928 233.097999,53.0306656 233.322,53.236 C233.546001,53.4413344 233.658,53.6933318 233.658,53.992 C233.658,54.2906682 233.548334,54.5473323 233.329,54.762 C233.109666,54.9766677 232.846002,55.084 232.538,55.084 C232.388666,55.084 232.246334,55.0560003 232.111,55 C231.975666,54.9439997 231.856667,54.8693338 231.754,54.776 C231.651333,54.6826662 231.569667,54.5706673 231.509,54.44 C231.448333,54.3093327 231.418,54.1693341 231.418,54.02 L231.418,54.02 Z" id="Play-It.-Share-It.-M" fill-opacity="0.718240489" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
            </g>
        </g>
    </g>
</svg>
     </a>
     {% else %}
     <a id="site-title" href="/">
       {{ shop.name }}
     </a>
     {% endif %}
     {% if template == 'index' %}
     {% comment %}
       Many SEO audit tools look for a h1 tag on the home page. Let's give 'em one.
       Other pages should use the resource name as h1 tag. For example, on the product
       page, the product title will use a h1 tag.
     {% endcomment %}
     <h1 class="hidden">{{ shop.name }}</h1>
     {% endif %}
   </div>
   <div class="navMain">
  {% include 'navigation' %}
   </div>
 </div>


  <div class="container grabaset">





    <div id="main" role="main">
      {% comment %}}
        We have a template file to render.
        That's what content_for_layout is for.
      {% endcomment %}

      {{ content_for_layout }}
    </div>

      </div><!-- end of #container -->
    {% case template %}
      {% when 'index' %}
          {% include 'aboutus' %}

          {% include 'programs' %}

          {% include 'asseenon' %}
    {% endcase %}

    <footer>
      <div class="innerWrapper">
        Futpong.net
      </div>
    </footer>

    {% comment %}
    <footer>

      {% if linklists.footer.links.size > 0 %}
      <p role="navigation">
      {% for link in linklists.footer.links %}
        <a href="{{ link.url }}" title="{{ link.title }}"{% if link.active %} class="active"{% endif %}>{{ link.title }}</a>
      {% endfor %}
      </p>
      {% endif %}

      {% unless shop.enabled_payment_types == empty %}
	  <div class="payment-types">
        {% for type in shop.enabled_payment_types %}
        <img width="40" src="{{ type | payment_type_img_url }}" />
        {% endfor %}
      </div>
      {% endunless %}

      <p role="contentinfo" class="small-print">Copyright &copy; {{ "now" | date: "%Y" }} {{ shop.name }}. {{ powered_by_link }}.</p>

    </footer>
    {% endcomment %}
    
    <div class="videoOverlay"></div>
    <div class="videoCover"></div>

    {% comment %}Shopify does not support Internet Explorer 6 nor 7. It does encourage themes to support IE8 until the end of 2014.{% endcomment %}
    <!--[if lt IE 8]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->



  {{ 'shop.js'  | asset_url | script_tag }}
  
  {{ 'futpong.js'  | asset_url | script_tag }}
  
  

</body>
</html>
